<!doctype html>
<html class="no-js" lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{admin_layout}">
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Admin - Tableau de Bord</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/admin/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/admin/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/admin/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/admin/css/metisMenu.css}">
<link rel="stylesheet" th:href="@{/admin/css/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/admin/css/slicknav.min.css}">
<!-- amchart css -->
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<!-- others css -->
<link rel="stylesheet" th:href="@{/admin/css/typography.css}">
<link rel="stylesheet" th:href="@{/admin/css/default-css.css}">
<link rel="stylesheet" th:href="@{/admin/css/styles.css}">
<link rel="stylesheet" th:href="@{/admin/css/responsive.css}">
<!-- modernizr css -->
<script th:src="@{/admin/js/vendor/modernizr-2.8.3.min.js}"></script>
<head>
</head>

<body>
        <div layout:fragment="content" >
        </div>
</body>

</html>
