<header class="default-header" th:fragment="auth_header" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg  navbar-light">
        <div class="container">
            <a class="navbar-brand text-white" href="index.html" style="font-size: 40px;font-family: 'Consolas';">
                Mep
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="lnr lnr-menu"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li><a th:href="@{/user}">Accueil</a></li>
                    <li><a href="about.html">A Propos</a></li>
                    <li><a href="courses.html">Cours</a></li>
                    <!-- Dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" th:text="${fullName}">

                        </a>
                        <div class="dropdown-menu">

                            <a class="dropdown-item" th:text="${userEmail}"></a>
                            <a class="dropdown-item" th:href="@{/profil}">Voir Profil</a>
                            <a class="dropdown-item" th:if="${notFormateur}" th:href="@{/devenir/formateur}">Devenir Formateur</a>
                            <a class="dropdown-item" th:if="${isFormateur}" th:href="@{/devenir/formateur}">Cours Ajouté</a>
                            <a class="dropdown-item" href="course-details.html">Cours Achetés</a>
                        </div>
                    </li>
                    <li><a href="contacts.html">Contacts</a></li>

                    <li>
                        <a><i class="material-icons text-white">search</i></a>
                    </li>
                    <li>

                      <!--  <form th:action="@{/logout}" method="get" style="margin-right: 5px;">
                            <button class="btn btn-sm btn-outline-info" name="registration"
                                    type="submit">Se Déconnecter
                            </button>

                        </form>-->
                        <a th:href="@{/logout}" class="text-white">Se Déconnecter</a>
                    </li>
                </ul>


            </div>
        </div>
    </nav>
    <!--<div class="search-input" id="search-input-box">
        <div class="container">
            <form class="d-flex justify-content-between">
                <input type="text" class="form-control" id="search-input" placeholder="Chercher Cours" />
                <button type="submit" class="btn"></button>
                <span class="lnr lnr-cross" id="close-search" title="Fermer Recherche"></span>
            </form>
        </div>
    </div>-->
</header>