<!-- ================ start banner Area ================= -->
<section class="home-banner-area" th:fragment="banner" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row justify-content-center fullscreen align-items-center">
            <div class="col-lg-5 col-md-8 home-banner-left">
                <h1 class="text-white">
                    Faire le premier pas <br/>
                    apprendre avec nous
                </h1>
                <p class="mx-auto text-white  mt-20 mb-40">
                    Apprenez à apprendre.
                    Découvrez les compétences de demain.
                    Et prenez votre carrière en main.
                </p>
            </div>
            <div class="offset-lg-2 col-lg-5 col-md-12 home-banner-right">
                <img class="img-fluid" th:src="@{img/header-img.png}" alt="" />
            </div>
        </div>
    </div>
</section>
<!-- ================ End banner Area ================= -->