<!doctype html>
<html class="no-js" lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{admin_layout}">

<head>
    <title></title>
</head>

<body>

<br>
<br>
<div layout:fragment="content" >


    <div class="row">

        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Demandes</h4>
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table table-hover progress-table text-center">
                                <thead class="text-uppercase">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prenom</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="demande : ${demandes}">
                                    <td th:text="${demande.id}"></td>
                                    <td th:text="${demande.formateur.nom}"></td>
                                    <td th:text="${demande.formateur.prenom}"></td>
                                    <td th:text="${demande.formateur.email}"></td>
                                    <td>
                                        <ul class="d-flex justify-content-center">
                                            <li class="mr-3"> <a
                                                    th:href="@{/db/demandes/accepter-demande/__${demande.id}__}"
                                                    class="btn btn-rounded btn-sm btn-success">
                                                Accepter
                                            </a>
                                            </li>
                                            <li class="mr-3"> <a
                                                    th:href="@{/db/demandes/refuser-demande/__${demande.id}__}"
                                                    class="btn btn-rounded btn-sm btn-success">
                                                Refuser
                                            </a>
                                            </li>
                                            <li class="mr-3"> <a
                                                    th:href="@{/findUser/(id=${demande.formateur.id})}"
                                                    class="btn btn-rounded btn-sm text-danger viewBtn"
                                            data-toggle="modal">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            </li>
                                            <li>
                                                <a href="" class="text-secondary">
                                                    <i  class="fa fa-edit"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
