<!-- ================ Start Feature Area ================= -->
<section class="features " th:fragment="features" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <div class="feature-inner row">
            <div class="col-lg-2 col-md-6">
                <div class="feature-item d-flex">
                    <i class="ti-book"></i>
                    <div class="ml-20">
                        <h4>Travail en cours</h4>
                        <p>
                            Chaque cours fonctionne comme un manuel interactif,
                            en proposant des vidéos préenregistrées, des quiz et des projets.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="feature-item d-flex">
                    <i class="ti-cup"></i>
                    <div class="ml-20">
                        <h4>Aide et assistance</h4>
                        <p>
                            Connectez-vous à des milliers d'autres étudiants et débattez sur des idées,
                            discutez le contenu du cours et obtenez de l'aide pour en maîtriser les concepts.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="feature-item d-flex border-right-0">
                    <i class="ti-desktop"></i>
                    <div class="ml-20">
                        <h4>Formateurs Compétent</h4>
                        <p>
                            Cours donnés par des formateurs confirmés
                            Trouvez le formateur qui vous correspond
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ End Feature Area ================= -->