<!-- ================ start footer Area ================= -->
<footer class="footer-area section-gap"  th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Moroccan E-learning Platform</h4>
                <ul>
                    <li><a href="#">A Propos de MEP</a></li>
                    <li><a href="#">Contactez-nous</a></li>
                    <li><a href="#">Catégories des Cours</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>En Plus</h4>
                <ul>
                    <li><a href="#">S'inscrire</a></li>
                    <li><a href="#">Se Connecter</a></li>
                    <li><a href="#">Aide et FAQ</a></li>
                    <li><a href="#">Devenir Formateur</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Politiques</h4>
                <ul>
                    <li><a href="#">Politique de Protection des Données Personnelles</a></li>
                    <li><a href="#">Conditions Générales d'Utilisation</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 single-footer-widget">
                <h4>Newsletter</h4>
                <p>Recevoir les plus récentes Cours</p>
                <div class="form-wrap" id="mc_embed_signup">
                    <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                          method="get" class="form-inline">
                        <input class="form-control" name="EMAIL" placeholder="Votre Adresse Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
                               required="" type="email">
                        <button class="click-btn btn btn-default text-uppercase">subscribe</button>
                        <div style="position: absolute; left: -5000px;">
                            <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                        </div>

                        <div class="info"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-bottom row align-items-center">
            <p class="footer-text m-0 col-lg-8 col-md-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            <div class="col-lg-4 col-md-12 footer-social">
                <a href="#">F</a>
                <a href="#">Y</a>
                <a href="#">L</i></a>
                <a href="#">I</i></a>
            </div>
        </div>
    </div>
</footer>
<!-- ================ End footer Area ================= -->